body{
    background-color: black;
    margin: 0;
    font-family: 'Rokkitt', serif;
    max-width: 1920px;
    background-image: url(Images/Golden-Gate2.jpg);
    height: 100%;
}


.margin{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.logoContainer{
    height: 320px;
    width: 960px;
    font-size: 1.4rem;
    float: left;
    position: relative;
}

.logo{
    margin-left: 260px;
    margin-top: 260px;
    font-size: 2.4rem;
    color: white;
    font-family: 'Indie Flower', cursive;
    float: left;
}


.nav {
    width:100% ;
    margin-left: auto;
    margin-right: auto;
}

.nav a:hover {
    opacity: 0.1;  
    
}

.nav2 {
    opacity: 1;
    text-align: center;
}

.nav2 a:hover {
    opacity: 0.2;
}



.linksContainer{
    height: 200px;
    width: 30px;
    font-size: 0.8rem;
    float: left;
    text-align: center;
    margin-left: 350px;
}

.linksContainer a{
    padding-top: 30px;
    color:white;
    text-decoration: none;
    float:left;
}

.socialsContainer{
    height: 50px;
    width: 960px;
    text-align: center;
    float: left;
    margin-left: 260px;
}

.insta{
    float: left;
}

.twitter{
    float:left;
    padding-left: 3px;
}

<<<<<<< HEAD
@media screen and (max-width: 768px){
  #linksContainer a {
    float: left;
    font-size: 0.55rem;
  }
}

@media screen and (max-width: 375px) {
  #links {
    overflow: hidden;
    text-align: center;
  }
=======
@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 979px) {

>>>>>>> origin/master
    
    #linksContainer a {
    float: left;
    font-size: 0.55rem;
    overflow: hidden;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 35px;
    margin-right: 0px;
  }
    
      #logo {
    overflow: hidden;
    width: 35%;
    float: left;
    margin-left: 115px;
  }

  #logo {
    height: 250px;
    border-bottom: 3px solid black;
  }

  #logoContainer {
    height: 457.5px;
  }


