body{
    background-color: white;
    margin: 0;
    font-family: 'Rokkitt', serif;
    max-width: 1920px;
}


.margin{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.logoContainer{
    margin-top: 280px;
    margin-left: 320px;
    font-size: 1.4rem;
    float: left;
    position: relative;
}

.logo{
    margin-top: 10px;
    font-size: 1.5rem;
    color: black;
    font-family: 'Indie Flower', cursive;
    float: left;
}

#nav {
position: fixed;
width: 100%;
margin-left: auto;
margin-right: auto;
height: 1px;
}

#nav a:hover {
    background-color: gold;
    opacity: 1;
}

#nav2 {
    opacity: 1;
}

#nav2 a:hover {
    opacity: 0.2;
}

.links{
    margin-top: 360px;
    margin-left: 350px;
    font-size: 0.8rem;
    float:left;
    color:white;
    display: inline-block;
    position: relative;
}

.links a{
    padding-top: 20px;
    color:black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    float:left;
    transition: .3s;
    
}

.gold{
    color: gold;
}

.socialsContainer{
    padding-top: 560px;
    margin-top: 10px;
    margin-left: 320px;
    height: 20px;
    position: absolute;
}

.insta{
    float: left;
}

.twitter{
    float:left;
    padding-left: 3px;
}


